<!DOCTYPE html>
<html>
<head>
    <title>Add Project</title>
</head>
<body>

<h2>Add Project</h2>

<form action="/save-project" method="post">
    Project Name:
    <input type="text" name="projectName" required><br><br>

    Technologies:
    <input type="text" name="technologies" required><br><br>

    Domain:
    <input type="text" name="domain"><br><br>

    Deployed Link:
    <input type="url" name="deployedLink"><br><br>

    GitHub Link:
    <input type="url" name="githubLink"><br><br>

    Video Link:
    <input type="url" name="videoLink"><br><br>

    <button>Save</button>
</form>

</body>
</html>
