<!DOCTYPE html>
<html>
<head>
    <title>Student Details</title>
</head>
<body>

<h2>Student Profile</h2>

<p>User ID: [[${student.userId}]]</p>
<p>Name: [[${student.name}]]</p>
<p>Email: [[${student.email}]]</p>
<p>Mobile: [[${student.mobile}]]</p>
<p>Branch: [[${student.branch}]]</p>

<hr>

<h3>Skills</h3>
<ul>
    <li th:each="s : ${skills}">[[${s.skillName}]]</li>
</ul>

<hr>

<h3>Projects</h3>
<ul>
    <li th:each="p : ${projects}">
        [[${p.projectName}]]
    </li>
</ul>

<hr>

<h3>Certifications</h3>
<ul>
    <li th:each="c : ${certifications}">
        [[${c.certificationName}]]
        (<a th:href="@{/certification/pdf/{id}(id=${c.id})}" target="_blank">View</a>)
    </li>
</ul>

<hr>

<h3>Resume</h3>
<div th:if="${resume != null}">
    <a th:href="@{/resume/{id}(id=${student.id})}" target="_blank">Download Resume</a>
</div>

<a href="/admin-dashboard">Back</a>

</body>
</html>
